@font-face {
  font-family: 'Gill Sans';
  src: url('./assets/wakanda-forever-master.dogstudio-dev.co/zerolimits/assets/fonts/gillsans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('./assets/wakanda-forever-master.dogstudio-dev.co/zerolimits/assets/fonts/gillsans-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/wakanda-forever-master.dogstudio-dev.co/zerolimits/assets/fonts/gilroy-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/wakanda-forever-master.dogstudio-dev.co/zerolimits/assets/fonts/gilroy-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/wakanda-forever-master.dogstudio-dev.co/zerolimits/assets/fonts/gilroy-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/wakanda-forever-master.dogstudio-dev.co/zerolimits/assets/fonts/gilroy-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Outfit', system-ui, sans-serif;
  background: #070708;
  color: #eef5f5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

:focus-visible {
  outline: 2px solid #7cffc7;
  outline-offset: 3px;
}

#root {
  min-height: 100vh;
}
